<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<bean id="user" class="com.backend.User.User" scope="singleton" autowire="byType">
<constructor-arg index="0" name="username" value="saurav"/>
<constructor-arg index="1" name="email" value="saurav@company.com"/>
</bean>
<bean id="savingsaccount" class="com.backend.Accounts.SavingsAccount" scope="singleton">
<property name="amount" value="2000"/>
</bean>
<bean id="currentaccount" class="com.backend.Accounts.CurrentAccount" primary="true" scope="singleton">
<property name="amount" value="3000"/>
</bean>
</beans>
